<div class="again">
    <div class="mystery">
        <h1>Want to Play?</h1>
        <span>
        <h5>Make your selection and click accordingly...</h5>
    </div>
        <%= link_to 'Hi-Lo', '/hilo', class: "btn btn-primary"%>
        <span>Try to guess the computer's random number:)
        <br />
        <%= link_to 'Adventure', '/mystery', class: "btn btn-primary"%>
        <span>Let's adventure!
        <br>
        <%= link_to 'Magic8', '/magic', class: "btn btn-primary"%>
        <span>See what the Magic 8 Ball will reveal...
</div>
