<div class="mystery">

    <h1>Magic 8 Ball</h1>

    <form action='magic' method='get'>
        <label for='enterQuestion'>Ask the 8 Ball a question:</label>
        <input type='text' id='enterQuestion' name='play' />
        <input type='submit' value='Submit' />
    </form>


    <%= link_to 'Homepage', '/welcome', class: "btn btn-primary"%>
</div>
