<div class="mystery">

    <h1>Beach</h1>

    <p>It's your day off! You've arrived at the beach. The sun is shining, the water looks beautiful, and you're ready to enjoy. What shoud be your first activity?</p>
    <ul>
        <li>Lay in the sand</li>
        <li>Swim in the ocean</li>
    </ul>

    <%= link_to 'Sand', '/sand', class: "btn btn-primary"%>

    <%= link_to 'Ocean', '/ocean', class: "btn btn-primary"%>
</div>
