<div class="mystery">

    <h1>Burrito</h1>

    <p>You settle on a california burrito for yourself, your bear friend wants guacamole with a surf n turf burrito. You happily obligue, order, and have a seat. The bear is so happy to have a new friend. You:</p>
    <ul>
        <li>Ask if the bear wants to hold paws.</li>
        <li>Decide this has been a weird day and prefer to relocate to the beach.</li>
    </ul>

    <%= link_to 'Hold Paws', '/paws', class: "btn btn-primary"%>

    <%= link_to 'Beach', '/beach', class: "btn btn-primary"%>
</div>
