<div class="mystery">

    <h1>Lunch</h1>

    <p>The bear is friendly and stoked to eat a free meal. Turns out, his preference isn't human meat and there is a burrito parlor just down the trail. He agrees to your lunch offering, as long as there is guacamole.</p>
    <ul>
        <li>You decide that's a fair and delicious request and head down the trail towards the burritos.</li>
        <li>Screw it. You're broke. RUN</li>
    </ul>

    <%= link_to 'RUN', '/run', class: "btn btn-primary"%>

    <%= link_to 'Burrito', '/burrito', class: "btn btn-primary"%>
</div>
