<div class="mystery">

    <h1>Meditate</h1>

    <p>Meditation is so peaceful. You open one eye and see that, surprisingly, the bear has sat down next to you to meditate. Amused, you:</p>
    <ul>
        <li>Hold out your hand and take the paw of your bear friend.</li>
        <li>Mediate for a bit longer then offer to treat the bear to a tasty lunch.</li>
    </ul>

    <%= link_to 'Hold Paws', '/paws', class: "btn btn-primary"%>

    <%= link_to 'Lunch', '/lunch', class: "btn btn-primary"%>
</div>
