<div class="mystery">

    <h1>Mountain</h1>

    <p>The birds are chirping, the trees are tall, and the grass is green. You feel at peace. You sit down to meditate and embrace the nature. As your mind goes, you feel the presence of another creature. You open your eyes and see a bear. What do you do?</p>
    <ul>
        <li>You close your eyes and resume meditation.</li>
        <li>RUN</li>
        <li>Hold out your hand as a friendly greeting and offer the bear $20 for a tasty lunch.</li>
    </ul>

    <%= link_to 'Meditate', '/meditate', class: "btn btn-primary"%>

    <%= link_to 'RUN', '/run', class: "btn btn-primary"%>

    <%= link_to 'Lunch', '/lunch', class: "btn btn-primary"%>
</div>
