<div class="mystery">

    <h1>Adventure Game</h1>
    <br />

    <p>Each page will describe a scenario. Pick your next adventure by clicking the button to choose your path.</p>

    <%= link_to 'Beach', '/beach', class: "btn btn-primary"%>

    <%= link_to 'Mountain', '/mountain', class: "btn btn-primary"%>
</div>
