<div class="mystery">

    <h1>Ocean</h1>

    <p>You're swimming in the ocean and see something, but you're not sure what, in the distance. You decide:</p>
    <ul>
        <li>You're a strong swimmer... <br />swim out further to investigate</li>
        <li>It's your day off<br> and have already done more physical activity than you're capable of.<br /> Go back to shore and chill in the sand.</li>
    </ul>

    <%= link_to 'Swim', '/swim', class: "btn btn-primary"%>

    <%= link_to 'Sand', '/sand', class: "btn btn-primary"%>
</div>
