<div class="mystery">

    <h1>Paws</h1>

    <p>You take the paw of your bear friend and breathe deep. This is definitely a moment to remember. Better appreciate it. This is such a magical moment, you close your eyes, and when you open them, you've somehow teleported to:</p>
    <ul>
        <li>The beach</li>
        <li>A casino where Hi-Lo is your only option.</li>
    </ul>

    <%= link_to 'Beach', '/beach', class: "btn btn-primary"%>

    <%= link_to 'Hi-Lo', '/hilo', class: "btn btn-primary"%>
</div>
