<div class="mystery">

    <h1>RUN</h1>

    <p>You take off running. Good thing you're fast. But, Mr. Bear is faster and catches up to you with no problem. Now he's clearly hungry from his light jog. Now what do you do?</p>
    <ul>
        <li>You close your eyes, pray the bear will disappear, and meditate.</li>
        <li>Wave sheepishly, admit defeat, and offer the bear $20 for a tasty lunch.</li>
    </ul>

    <%= link_to 'Meditate', '/meditate', class: "btn btn-primary"%>

    <%= link_to 'Lunch', '/lunch', class: "btn btn-primary"%>
</div>
