<div class="mystery">

    <h1>Sand</h1>

    <p>You're enjoying the sun and chillin hard in the sand. You roll over and decide it's time for a change. You decide:</p>
    <ul>
        <li>Look for buried treasure</li>
        <li>Swim in the ocean</li>
    </ul>

    <%= link_to 'Treasure', '/treasure', class: "btn btn-primary"%>

    <%= link_to 'Ocean', '/ocean', class: "btn btn-primary"%>
</div>
