<div class="mystery">

    <h1>Ship</h1>

    <p>You arrive at the abandoned ship, ready to explore. Almost immediately, you a box covered in gemstones. You assume this is the treasure and are thrilled... until you realize that the lock can only be opened with a shovel. Dangit. You did need that shovel. Where's a shovel when you need one? Oh yeah, that other guy grabbed it. You decide</p>
    <ul>
        <li>Screw it. This was my day off. I'm gonna lay in the sand.</li>
        <li>Approach the person who grabbed the shovel when you left it to barter.</li>
        <li>Go for a swim in the ocean. It's hot and this is crazy.</li>
    </ul>

    <%= link_to 'Sand', '/sand', class: "btn btn-primary"%>

    <%= link_to 'Stranger', '/stranger', class: "btn btn-primary"%>

    <%= link_to 'Ocean', '/ocean', class: "btn btn-primary"%>
</div>
