<div class="mystery">

    <h1>Shovel</h1>

    <p>You sprint to the shovel and start digging. Some time passes, you've dug a lot of holes, but haven't found the treasure you desire. To be fair, you found $20 but it's 2019, it's not the jackpot you envisioned, and your arms hurt. You decide:</p>
    <ul>
        <li>Take that $20, return to the sand, and put it towards lunch</li>
        <li>Take that $20, leave the shovel, and head over to the pirate ship.</li>
    </ul>

    <%= link_to 'Sand', '/sand', class: "btn btn-primary"%>

    <%= link_to 'Ship', '/ship', class: "btn btn-primary"%>
</div>
