<div class="mystery">

    <h1>Stranger</h1>

    <p>The stranger with the shovel is digging furiously and finds $20. You decide to interrupt, say "hello", and let this person know about the lock on the treasure box. The stranger looks intrigued, but also just found $20 and seems hesitant to interrupt their process. You say, "I'll share the treasure if you help me open the box with the shovel. It'll only take a minute and we'll both be millionaires." You mutually agree this is the best plan and open the box. Next...</p>
    <ul>
        <li>You appear in the mountains. Not sure how that happened.</li>
        <li>You appear in the ocean with a mermaid in sight.</li>
        <li>A new game, called Hi-Lo appears. Maybe you can win your treasure this way?</li>
    </ul>

    <%= link_to 'Mountain', '/mountain', class: "btn btn-primary"%>

    <%= link_to 'Ocean', '/ocean', class: "btn btn-primary"%>

    <%= link_to 'Hi-Lo', '/hilo', class: "btn btn-primary"%>

</div>
