<div class="mystery">

    <h1>Swim</h1>

    <p>You've swum pretty far out and the thing in the distance is a mermaid... or a whale... or a shark... can't be sure. You keep swimming because, at this point, you may as well satisfy your curiousity. Fortunately, it's a mermaid. As you approach, you:</p>
    <ul>
        <li>Wave frantically to get attention and start conversation</li>
        <li>Lurk silently and swim back to shore</li>
    </ul>

    <%= link_to 'Wave', '/wave', class: "btn btn-primary"%>

    <%= link_to 'Sand', '/sand', class: "btn btn-primary"%>
</div>
