<div class="mystery">

    <h1>Treasure</h1>

    <p>You can't decide where to first look for treasure and you survey the beach scene to narrow down some options. On your left, you see a shovel and on the right, you see a washed up pirate ship. But there's someone else who's noticed the same options and you can only beat them to one, so you can't choose both. Which is priority?</p>
    <ul>
        <li>Grab that shovel to dig!</li>
        <li>Explore the ship!</li>
    </ul>

    <%= link_to 'Shovel', '/shovel', class: "btn btn-primary"%>

    <%= link_to 'Ship', '/ship', class: "btn btn-primary"%>
</div>
