<div class="mystery">

    <h1>Mermaid</h1>

    <p>The mermaid stares with skeptism, but also decides to wave back to you. You excitedly approach because you've never met a mermaid before. She grants you three wishes. Your wishes include the options below, but you must prioritize one. Which is most important?</p>
    <ul>
        <li>Play Hi-Lo! Huzzah! Best game ever!</li>
        <li>You're sunburnt and want to go to the mountains.</li>
        <li>Find buried treasure.</li>
    </ul>

    <%= link_to 'Hi-Lo', '/hilo', class: "btn btn-primary"%>

    <%= link_to 'Mountain', '/mountain', class: "btn btn-primary"%>

    <%= link_to 'Treasure', '/treasure', class: "btn btn-primary"%>

</div>
