// Place all the styles related to the Adventure controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    background-color: #ced4db;
    // background-color: #555759;
}
.mystery {
    margin: 0px;
    text-align: center;
    background-color: #ced4db;

}

ul {
    text-align: center;
    list-style-position: inside;
}
